<!DOCTYPE html>
<html lang="en">
<head>
	<% include partials/commonhead %>
	<link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
  <% include partials/header %>
  <!-- Page Body Starts -->
	<section class="full video" id="home">
	
		<h1 class="mega">
			<%= staticcontent.headerline1 %>
			<br />
			<%= staticcontent.headerline2 %>
			<br />
			<p style="font-size: 2rem;" class="mt-4"><%= staticcontent.headertext %></p>
		</h1>
		<a class="button white light scroller" href="#portfolio">View More</a>
		<a class="mute muted" href="#"><i class="fa fa-volume-up"></i></a>
	
	</section>
	
	<section class="small-padding" id="portfolio">
	
		<div class="wrapper">
			<h3 class="floatleft"><%= staticcontent.portfoliotitle %> <small class="portfolio-filter"><%= staticcontent.portfolioheader %></small></h3>
				
			<div id="filters" class="floatright">
				<a href="*" class="active button">All</a>
				<% if (tags.length > 0) { %>
				<% for (var i = 0; i < tags.length; i++) { %>
					<a href=".<%= tags[i]._id %>" class="button"><%= tags[i].name %></a>
				<% } %>
				<% } %>
					<!-- <a href=".web-design" class="button">Web Design</a> -->
				<!-- <a href=".development" class="button">Development</a> -->
				<!-- <a href=".illustration" class="button">Illustration</a> -->
				<!-- <a href=".business" class="button">Business</a> -->
			</div>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper overflow-hidden">
		
		<div id="loader"></div>
			
			<ul class="clearfix portfolio-isotope portfolio scroll-animate bottom">
				<% if (projects.length > 0) { %>
				<% for (var i = 0; i < projects.length; i++) {%>
					<% var tags = '' %>
					<% var tagsNames = '' %>
					<% for (var a = 0; a < projects[i].tags.length; a++) { %>
						<% tags = tags + ' ' + projects[i].tags[a]._id %>
						<% tagsNames = a > 0 ? tagsNames + ', ' + projects[i].tags[a].name : projects[i].tags[a].name %>
					<% } %>
					<li class="<%= tags %>" prioritize="<%= projects[i].prioritize %>">
						<a href="single-portfolio.html" class="isotope-alt-image">
							<img src="/images/uploads/<%= projects[i]._id %>/<%= projects[i].coverimage %>" alt="image" />
							<div>
								<h4><%= projects[i].name %><small><%= tagsNames %></small></h4>
							</div>
						</a>
						<div class="isotope-alt-details">
							<div>
								<h4 class="remove-bottom"><%= projects[i].name %></h4>
								<p class="meta"><%= tagsNames %></p>
							</div>
						</div>
					</li>
				<% } %>	
				<% } %>	
				<!-- <li class="web-design illustration">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="/images/i1.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				
				<li class="development business">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="/images/i2.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				<li class="web-design development">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="/images/i3.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				<li class="illustration business">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="/images/i4.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				<li class="illustration development">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="/images/i5.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li>
				<li class="web-design business">
					<a href="single-portfolio.html" class="isotope-alt-image">
						<img src="/images/i6.jpg" alt="image" />
						<div>
							<h4>Project title<small>Web Design, Development</small></h4>
						</div>
					</a>
					<div class="isotope-alt-details">
						<div>
							<h4 class="remove-bottom">Project title</h4>
							<p class="meta">Web Design, Development</p>
						</div>
					</div>
				</li> -->

			</ul>
			
			<a href="more-posts.html" id="load-more" class="scroll-animate top">Load More</a>
			
		</div>
		
	</section>
	
	
	<section class="small-padding" id="contact">
			
		<div class="wrapper">
			<h3 class="floatleft">Contact Us. <small><%= staticcontent.contactheader %></small></h3>
			
			<div class="clear"></div><!--CLEAR FLOATS-->
		</div>
		
	</section>
	
	<section class="dark-wrapper">
	
		<div class="wrapper clearfix">
			
			<div class="two_thirds scroll-animate left">
				<div id="message"></div>
				<form method="POST" action="/contactus" id="contactform" data-parsley-validate>
					<div class="input-grp">
						<label for="name">Name</label>
						<input type="text" name="name" id="name" class="form-control" required/>
					</div>
					<div class="input-grp">
						<label for="phone">Phone Number</label>
						<input type="text" name="phone" id="phone" class="form-control" required/>
					</div>
					<div class="input-grp">
						<label for="email">Email</label>
						<input type="email" name="email" id="email" class="form-control" required/>
					</div>
					<div class="input-grp">
						<label for="methodofcontact">Preferred Method of Contact</label>
						<select name="methodofcontact" id="methodofcontact" class="form-control" required>
							<option value="email">By Email</option>
							<option value="phone">By Phone</option>
						</select>
					</div>
					<div class="input-grp">
						<label for="timeofcontact">Preferred Date and Time of Contact</label>
						<div>
							<input type="date" name="date" id="date" class="mr-2 form-control" required/>
							<input type="time" name="time" id="time" class="form-control" required/>
						</div>
					</div>
					<div class="input-grp">
						<label for="howcanwehelpyou">How Can We Help You</label>
						<select name="howcanwehelpyou" id="howcanwehelpyou" class="form-control" required>
							<% for (var i = 0; i < helpitems.length; i++) { %>
								<option value="<%= helpitems[i]._id %>"><%= helpitems[i].text %></option>
							<% } %>
						</select>
					</div>
					<div class="input-grp">
						<label for="comments">Comments</label>
						<textarea name="comments" id="comments" class="form-control" required></textarea>
					</div>
					<input type="submit" name="submit" value="Submit" />
				</form>
			</div>
			
			<div class="one_third last scroll-animate right">
				<h5>Contact Us</h5>
				<p><%= staticcontent.contacttext %></p>
				<p class="margin-bottom-10"><i class="fa fa-map-marker fa-fixed-width"></i> <%= staticcontent.contactaddress %></p>
				<p class="margin-bottom-10"><i class="fa fa-phone-square fa-fixed-width"></i> <%= staticcontent.contactphone %></p>
				<p class="margin-bottom-10"><i class="fa fa-laptop fa-fixed-width"></i> <a href="mailto:<%= staticcontent.contactemail %>"><%= staticcontent.contactemail %></a></p>
				<p class="margin-bottom-10"><i class="fa fa-skype fa-fixed-width"></i> <%= staticcontent.contactskype %></p>
			</div>
			
		</div>
		
	</section>

  <!-- Page Body Ends -->
  <% include partials/footer %>
	<% include partials/commonscripts %>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/index.js"></script>
</body>
</html>